<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BrotliSharpLib" version="0.3.3" targetFramework="net461" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net461" />
  <package id="Eyes.Common" version="1.2.0" targetFramework="net461" />
  <package id="Eyes.Sdk.Core" version="2.38.0" targetFramework="net461" />
  <package id="Eyes.Selenium" version="2.38.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.24" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="87.0.4280.8800" targetFramework="net461" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.28.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.MicrosoftWebDriver" version="10.0.17134" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
</packages>